# -----------------------------------------------------------------------------
# ✅ COMMON IGNORE for tools
# -----------------------------------------------------------------------------

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtualenv / venv
venv/
.env/
.venv/
ENV/
env/

# NodeJS
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db

# CursorAI / Code suggestions / experimental
.cursor/
.cursor-cache/

# Logs
*.log
*.env
#ishlanayotgan papkalarini taqiqlash
apps/**/*
backend/**/*
frontend/**/*
bots/**/*
scripts/**/*
aiprojects/**/*
# -----------------------------------------------------------------------------
!apps/**/*.md
!backend/**/*.md
!frontend/**/*.md
!bots/**/*.md
!scripts/**/*.md
!aiprojects/**/*.md
# files/**/*
# !files/*
# !files/finish/
# !files/src/
# files/finish/*
# files/push.sh